<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
    <system.web>
        <machineKey decryptionKey="4F009322EE87948266CB402907B525C6D91A5F673B156429" validation="HMACSHA512" validationKey="F93722C72CF6A44930E1EE004E95BF88656C1D521573188D819225DFA19AA73F872086265968937269637AF08BE8AA9A4FC4F716A5923213F63EE2DC35842A7B" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="h3x4@iechosys.com">
                <network defaultCredentials="false" host="ipool.remotewebaccess.com" password="Qcard420" userName="h3x4" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
